@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "https://cdn.jsdelivr.net/npm/pretty-print-json@1.3/dist/pretty-print-json.css";
@import url("https://fonts.googleapis.com/css2?family=Cairo+Play:wght@900&display=swap");

@import "./styles/buttons.css";
@import "./styles/pill.css";
@import "./styles/scrollbar.css";
@import "./styles/select.css";
@import "./styles/spinners.css";
@import "./styles/table.css";
@import "./styles/textfields.css";
@import "./styles/thesis-states.css";
@import "./styles/modal.css";

@layer components {
  .disabled-style {
    @apply cursor-not-allowed rounded-sm border border-solid border-neutral-400 bg-black/10 opacity-80;
  }
}

.fade {
  @apply animate-in fade-in-0 duration-500;
}

.no-pagination .MuiDataGrid-footerContainer {
  display: none;
}
.MuiDataGrid-root.data-grid .MuiDataGrid-row {
  cursor: pointer;
}
.MuiDataGrid-root.data-grid .MuiDataGrid-row .MuiDataGrid-cell {
  outline: none;
}
.MuiDataGrid-root.data-grid .MuiDataGrid-row.Mui-selected {
  background-color: #3276d549;
}
.MuiDataGrid-root.data-grid .MuiDataGrid-row.Mui-selected:hover {
  background-color: #329fd561;
}

:root {
  --toastify-color-progress-light: linear-gradient(to right, #007aff, #34aadc);
}

.Toastify__toast-container {
  --toastify-toast-width: 520px;
}

.Toastify__progress-bar {
  height: 4px;
}

#root[modal] {
  overflow: hidden;
}

.root-bg.a {
  background-image: linear-gradient(17deg, #fff1eb 0%, #ace0f9 100%);
}
.root-bg.b {
  background-image: linear-gradient(17deg, #e9defa 0%, #fbfcdb 100%);
}
.root-bg.c {
  background-image: linear-gradient(-225deg, #e3fdf5 0%, #ffe6fa 100%);
}
.root-bg.d {
  background-image: linear-gradient(-225deg, #2315573f 0%, #44107a3d 29%, #ff136130 67%, #fff80081 100%);
}
.root-bg.e {
  background-image: linear-gradient(17deg, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}
.root-bg {
  background-image: linear-gradient(17deg, #efd6da 0%, #e1edff 49%, #e3ffe9 100%);
}

.flow {
  @apply flex items-center gap-1;
}

.flow-col {
  @apply flex flex-col gap-2;
}

.help-text {
  @apply m-2 ml-4 border-l-2 border-gray-300 pl-2 text-sm text-gray-500;
}

.form-section {
  @apply my-4 border-b border-gray-300 text-2xl font-light text-gray-700;
}

.container2 {
  width: 100%;
}
@media (min-width: 320px) {
  .container2 {
    max-width: 480px;
  }
}
@media (min-width: 480px) {
  .container2 {
    max-width: 480px;
  }
}
@media (min-width: 768px) {
  .container2 {
    max-width: 768px;
  }
}
@media (min-width: 976px) {
  .container2 {
    max-width: 976px;
  }
}
@media (min-width: 1440px) {
  .container2 {
    max-width: 1440px;
  }
}


.app-center {
  @apply mx-auto;
}

.file-input > label {
  width: inherit;
}