.btn {
  @apply min-w-[60px] cursor-pointer select-none rounded px-2 py-1 font-roboto font-medium
   uppercase shadow-md shadow-black/20  transition hover:shadow-black/40
   inline-flex items-center;
}

/* btn-info | btn-success | btn-warning | btn-error */
.btn-info {
  @apply bg-info-600 text-white hover:bg-info-700;
}
.btn-success {
  @apply bg-success-700 text-white hover:bg-success-800;
}
.btn-warning {
  @apply bg-warning-600 text-white hover:bg-warning-700;
}
.btn-error {
  @apply bg-error-600 text-white hover:bg-error-700;
}

/* btn-sm | btn-md | btn-lg */
.btn-sm {
  @apply px-2 py-1 text-xs min-w-fit;
  --size: 16px;
  --border: 3px;
}
.btn-md {
  @apply px-4 py-2 text-sm;
  --size: 20px;
  --border: 4px;
}
.btn-lg {
  @apply px-5 py-3 text-sm;
  --size: 24px;
  --border: 4px;
}

/* btn-outlined | btn-text */
.btn-outlined {
  @apply border border-solid bg-transparent shadow-none hover:shadow-none;
}

.btn-outlined.btn-info {
  @apply border-info-500 text-info-600 hover:border-info-600 hover:bg-info-100 hover:text-info-800 active:bg-info-200;
  --color-spinner-a: var(--color-info-600-rgb);
}
.btn-outlined.btn-success {
  @apply border-success-500 text-success-600 hover:border-success-600 hover:bg-success-100 hover:text-success-800 active:bg-success-200;
  --color-spinner-a: var(--color-success-500-rgb);
}
.btn-outlined.btn-warning {
  @apply border-warning-500 text-warning-600 hover:border-warning-600 hover:bg-warning-100 hover:text-warning-800 active:bg-warning-200;
  --color-spinner-a: var(--color-warning-600-rgb);
}
.btn-outlined.btn-error {
  @apply border-error-500 text-error-600 hover:border-error-600 hover:bg-error-100 hover:text-error-800 active:bg-error-200;
  --color-spinner-a: var(--color-error-500-rgb);
}

.btn-text {
  @apply bg-transparent shadow-none hover:shadow-none;
}
.btn-text.btn-info {
  @apply text-info-600 hover:bg-info-100 hover:text-info-800 active:bg-info-200 selected:bg-info-600/40 selected:text-black;
  --color-spinner-a: var(--color-info-500-rgb);
}
.btn-text.btn-success {
  @apply text-success-600 hover:bg-success-100 hover:text-success-800 active:bg-success-200 selected:bg-success-600/40 selected:text-black;
  --color-spinner-a: var(--color-success-700-rgb);
}
.btn-text.btn-warning {
  @apply text-warning-600 hover:bg-warning-100 hover:text-warning-800 active:bg-warning-200 selected:bg-warning-600/40 selected:text-black;
  --color-spinner-a: var(--color-warning-600-rgb);
}
.btn-text.btn-error {
  @apply text-error-600 hover:bg-error-100 hover:text-error-800 active:bg-error-200 selected:bg-error-600/40 selected:text-black;
  --color-spinner-a: var(--color-error-500-rgb);
}

/* spinner options */
.btn-contained {
  --color-spinner-a: var(--color-white-rgb);
}

.i-disabled {
  @apply pointer-events-none cursor-not-allowed;
}

.btn.disabled {
  @apply pointer-events-none cursor-not-allowed border-neutral-400 bg-neutral-300 text-neutral-400 opacity-80;
  --color-spinner-a: var(--color-neutral-400-rgb);
}

.btn.btn-text.disabled {
  @apply pointer-events-none cursor-not-allowed border-neutral-400 bg-transparent text-neutral-400 opacity-80;
  --color-spinner-a: var(--color-neutral-400-rgb);
}

.btn-bar {
  @apply flex items-stretch gap-1;
}
.btn-group {
  @apply flex gap-0;
}
.btn-group .btn {
  @apply rounded-none border-x border-y-2;
}
.btn-group .btn:first-child {
  @apply rounded-l-md border-2 border-r;
}
.btn-group .btn:last-child {
  @apply rounded-r-md border-2 border-l;
}

.btn.with-progress {
  @apply relative content-[_] before:absolute before:inset-0 before:block before:h-full;
}
.btn.with-progress::before {
  width: var(--progress);
}

