.btn {
  @apply inline-flex cursor-pointer items-center gap-1 rounded-sm px-2 py-1 text-base shadow-md transition
  disabled:cursor-not-allowed disabled:opacity-70;
}
.btn-small {
  @apply inline-flex cursor-pointer items-center gap-1 rounded-sm p-1 text-sm shadow-md transition;
}

.btn-bar {
  @apply flex items-stretch gap-1;
}
.btn-group {
  @apply flex gap-0;
}
.btn-group .btn {
  @apply rounded-none border-x border-y-2;
}
.btn-group .btn:first-child {
  @apply rounded-l-md border-2 border-r;
}
.btn-group .btn:last-child {
  @apply rounded-r-md border-2 border-l;
}

.btn-info {
  @apply border-2 border-blue-700 bg-blue-500 text-white shadow-blue-500/20
        hover:enabled:bg-blue-700;
}
.btn-success {
  @apply border-2 border-green-600 bg-green-500 text-white shadow-green-500/20
        hover:enabled:bg-green-600;
}
.btn-warning {
  @apply border-2 border-yellow-700 bg-yellow-500 text-black shadow-yellow-500/20
        hover:text-white hover:enabled:bg-yellow-700;
}
.btn-warning:hover > .spinner {
  --color-spinner-a: #fff;
  --color-spinner-b: #ffffff4e;
}
.btn-danger {
  @apply border-2 border-red-700 bg-red-500 text-white shadow-red-500/20
        hover:enabled:bg-red-700;
}
.btn-text {
  @apply border-2 border-gray-300 bg-gray-200 text-gray-700 shadow-gray-200/20
        hover:enabled:bg-gray-300;
}
